.details-container {
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 100px 40px;
  width: 90%;
}
.details-title {
  font-size: 32px;
  font-weight: 400;
}
.details-type {
  background-color: var(--black);
  color: var(--white);
  font-size: 14px;
}
.sport {
  background-color: var(--green);
  width: fit-content;
  padding: 2px 5px;
}
.game {
  background-color: var(--purple);
  width: fit-content;
  padding: 2px 5px;
}
.essential {
  background-color: var(--pink);
  width: fit-content;
  padding: 2px 5px;
}
.practical {
  background-color: var(--teal);
  width: fit-content;
  padding: 2px 5px;
  color: var(--black);
}
.professional {
  background-color: var(--blue);
  width: fit-content;
  padding: 2px 5px;
}
.details-detail {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: var(--black);
}
