.link {
  text-decoration: none;
}
.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: var(--black);
  margin: 100px 20px;
  padding-left: 20px;
  width: 355px;
  height: 220px;
  background-color: var(--lightest-text);
  border: 10px solid var(--white);
  box-sizing: border-box;
  box-shadow: 0px 0px 10px var(--box-shadow);
}
.card-container:hover {
  border: 10px solid var(--orange);
}
/* interest or skill is not current */
.false {
  color: var(--white);
  background-color: var(--dark-gray);
  opacity: 0.5;
}
.card-title {
  width: 100%;
  text-align: left;
  color: var(--orange);
}
.card-details {
  display: grid;
  grid-template: 50px / auto auto;
}
.card-name-key,
.card-type-key {
  width: 100%;
  margin-right: 15px;
}
.card-name-key,
.card-name-value {
  margin-bottom: 15px;
}
.card-type-value {
  background-color: var(--black);
  color: var(--white);
}
.sport {
  background-color: var(--green);
  width: fit-content;
  padding: 2px 5px;
}
.game {
  background-color: var(--purple);
  width: fit-content;
  padding: 2px 5px;
}
.essential {
  background-color: var(--pink);
  width: fit-content;
  padding: 2px 5px;
}
.practical {
  background-color: var(--teal);
  width: fit-content;
  padding: 2px 5px;
  color: var(--black);
}
.professional {
  background-color: var(--blue);
  width: fit-content;
  padding: 2px 5px;
}
.card-name-value,
.card-type-value {
  font-weight: 400;
}

@media only screen and (max-width: 720px) {
  .card-container {
    width: 200px;
    height: 150px;
    margin: 10px;
    padding-left: 10px;
    border: 5px solid var(--white);
    box-shadow: 0px 0px 8px var(--box-shadow);
  }
  .card-container:hover {
    border: 5px solid var(--orange);
  }
  .card-name-key,
  .card-type-key {
    margin-right: 10px;
    font-size: 16px;
  }
  .card-details {
    grid-template: 30px / auto auto;
  }
}
