.link {
  text-decoration: none;
}
.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: black;
  margin: 100px 20px;
  width: 355px;
  height: 220px;
  background-color: rgba(244, 249, 253, 1);
  border: 10px solid #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 35%);
}
.card-container:hover {
  border: 10px solid #ec8643;
}
.card-title {
  width: 100%;
  margin-left: 50px;
  text-align: left;
  color: #ec8643;
  text-decoration: none;
}
.card-details {
  display: grid;
  grid-template: 50px / auto auto;
}
.card-name-key,
.card-type-key {
  width: 100%;
  margin-right: 15px;
}
.card-name-key,
.card-name-value {
  margin-bottom: 15px;
}
.card-type-value {
  background-color: #000;
  color: #fff;
}
.sport {
  background-color: rgba(25, 136, 100, 1);
  width: fit-content;
  padding: 0 5px;
}
.game {
  background-color: rgba(86, 25, 136, 1);
  width: fit-content;
  padding: 0 5px;
}
.essential {
  background-color: rgba(200, 37, 154, 1);
  width: fit-content;
  padding: 0 5px;
}
.practical {
  background-color: rgba(52, 228, 234, 1);
  width: fit-content;
  padding: 0 5px;
  color: #000;
}
.professional {
  background-color: rgba(45, 130, 183, 1);
  width: fit-content;
  padding: 0 5px;
}
.card-name-value,
.card-type-value {
  font-weight: 400;
}
