.link {
  text-decoration: none;
}
.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: var(--black);
  margin: 100px 20px;
  padding-left: 20px;
  width: 355px;
  height: 220px;
  background-color: var(--lightest-text);
  border: 10px solid var(--white);
  box-sizing: border-box;
  box-shadow: 0px 0px 10px var(--box-shadow);
}
.card-container:hover {
  border: 10px solid var(--orange);
}
/* interest or skill is not current */
.false {
  color: var(--white);
  background-color: var(--dark-gray);
  opacity: 0.5;
}
.card-title {
  width: 100%;
  text-align: left;
  color: var(--orange);
  text-decoration: none;
}
.card-details {
  display: grid;
  grid-template: 50px / auto auto;
}
.card-name-key,
.card-type-key {
  width: 100%;
  margin-right: 15px;
}
.card-name-key,
.card-name-value {
  margin-bottom: 15px;
}
.card-type-value {
  background-color: var(--black);
  color: var(--white);
}
.sport {
  background-color: var(--green);
  width: fit-content;
  padding: 0 5px;
}
.game {
  background-color: var(--purple);
  width: fit-content;
  padding: 0 5px;
}
.essential {
  background-color: var(--pink);
  width: fit-content;
  padding: 0 5px;
}
.practical {
  background-color: var(--teal);
  width: fit-content;
  padding: 0 5px;
  color: var(--black);
}
.professional {
  background-color: var(--blue);
  width: fit-content;
  padding: 0 5px;
}
.card-name-value,
.card-type-value {
  font-weight: 400;
}
