.details-container {
  color: #333;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 100px 40px;
  width: 90%;
}
.details-title {
  font-size: 32px;
  font-weight: 400;
}
.details-type {
  background-color: #000;
  color: #fff;
  font-size: 14px;
}
.sport {
  background-color: rgba(25, 136, 100, 1);
  width: fit-content;
  padding: 0 5px;
}
.game {
  background-color: rgba(86, 25, 136, 1);
  width: fit-content;
  padding: 0 5px;
}
.essential {
  background-color: rgba(200, 37, 154, 1);
  width: fit-content;
  padding: 0 5px;
}
.practical {
  background-color: rgba(52, 228, 234, 1);
  width: fit-content;
  padding: 0 5px;
  color: #000;
}
.professional {
  background-color: rgba(45, 130, 183, 1);
  width: fit-content;
  padding: 0 5px;
}
.details-detail {
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #000;
}
