.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #FFF;
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}
